@model TrackPeriodViewModel

@{
    ViewBag.Title = "Phase";
    Layout = "_BannerLayout";

    TrackPeriodRoute current = Model.CurrentRoute;
    TrackPeriodRoute routes = current.Clone();
}

<div class="container pt-3">

    <div class="mb-3">
        <vc:geolocation-form route="routes.ToDictionary() as Dictionary<string, string>" action-method="SubmitPeriodGeolocation"></vc:geolocation-form>
    </div>

    @* Consider view component or partial view *@
    <div class="mb-5">
        @if (Model.Dso.HasName)
        {
            <h1>@Model.Dso.CompoundId - @Model.Dso.Name</h1>
        }
        else
        {
            <h1>@Model.Dso.CompoundId</h1>
        }

        @if (Model.Dso.HasMultipleNames)
        {
            <p>
                <i>Other names:&nbsp;&nbsp;@string.Join(", ", Model.Dso.GetOtherNames())</i>
            </p>
        }
    </div>

    <nav class="nav nav-tabs mb-5">
        <a class="nav-item nav-link" asp-controller="Track" asp-action="Summary" asp-all-route-data="@routes.GetSummaryRoute().ToDictionary()">Summary</a>
        <a class="nav-item nav-link" asp-controller="Track" asp-action="Phase" asp-all-route-data="@routes.GetSummaryRoute().ToDictionary()">Phase</a>
        <a class="nav-item nav-link active">Period</a>
    </nav>

    @if (Model.HasWarning())
    {
        <div class="mb-3">
            <label class="form-label text-warning">@Model.WarningMessage</label>
        </div>
    }

</div>
