@model TrackPeriodViewModel

@{
    ViewBag.Title = "Phase";
    Layout = "_BannerLayout";

    TrackPeriodRoute current = Model.CurrentRoute;
    TrackPeriodRoute routes = current.Clone();
}

@section scripts {
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/location.js"></script>
    <script src="~/js/misc.js"></script>
    <script src="~/js/period-toggle.js"></script>
}

<div id="periodOptionsModal" class="modal fade" tabindex="-1" aria-labelledby="periodOptionsModalTitle">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="periodOptionsModalTitle" class="modal-title user-select-none text-truncate">Period Tracking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-period" asp-action="SubmitPeriod" asp-all-route-data="@routes.ToDictionary()" method="post" defaultbutton="form-period-submit">
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <select id="select-period-algorithm" class="form-select text-truncate" asp-for="TrackForm.Algorithm" asp-items="@Model.Algorithms"></select>
                        <label class="form-label user-select-none" for="select-period-algorithm">Timekeeping Algorithm</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="input-period-start" class="form-control" asp-for="TrackForm.Start" type="datetime-local" value="@Model.TrackForm.GetSortableStart()" />
                        <label class="form-label user-select-none" for="input-period-start">Start</label>
                        <span asp-validation-for="TrackForm.Start" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input id="input-period-single" class="form-check-input" data-bs-toggle="collapse" href="#period-collapse" role="button"
                                   asp-for="TrackForm.IsTrackOnce" type="checkbox" checked="@Model.TrackForm.IsTrackOnce" onchange="periodTrackOnce()" />
                            <label class="form-label d-block user-select-none text-truncate" for="input-period-single">Track Once</label>
                        </div>
                    </div>
                    <div id="period-collapse" class="collapse @current.TrackOnce.Show()">
                        <div class="form-floating mb-3">
                            <select id="select-period-timeunit" class="form-select text-truncate" asp-for="TrackForm.TimeUnit" asp-items="@Model.TimeUnits"
                                    onchange="updateFixedTrackingToggle(); updateAggregateToggle()"></select>
                            <label class="form-label user-select-none" for="select-period-timeunit">Time Unit</label>
                        </div>
                        <div class="row row-cols-lg-2 gx-2">
                            <div class="col-lg">
                                <div class="form-floating mb-3">
                                    <input id="input-period" class="form-control text-truncate" asp-for="TrackForm.Period" type="number" value="@Model.TrackForm.Period"
                                           disabled="@Model.TrackForm.IsTrackOnce" />
                                    <label class="form-label user-select-none" for="input-period">Period</label>
                                    <span asp-validation-for="TrackForm.Period" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg">
                                <div class="form-floating mb-3">
                                    <input id="input-interval" class="form-control text-truncate" asp-for="TrackForm.Interval" type="number" value="@Model.TrackForm.Interval"
                                           disabled="@Model.TrackForm.IsTrackOnce" />
                                    <label class="form-label user-select-none" for="input-interval">Interval</label>
                                    <span asp-validation-for="TrackForm.Interval" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check form-switch">
                                <input id="input-period-fixed" class="form-check-input" asp-for="TrackForm.IsFixed" type="checkbox" checked="@Model.TrackForm.IsFixed"
                                       disabled="@(current?.SupportsFixedTracking() == false)" onchange="updateAggregateToggle()" />
                                <label class="form-label d-block user-select-none text-truncate" for="input-period-fixed">Fixed Tracking</label>
                            </div>
                            <div id="input-fixed-warning" class="form-text user-select-none" hidden="@(current?.SupportsFixedTracking())">
                                Fixed tracking is only supported for days, weeks, months, and years.
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check form-switch">
                                <input id="input-period-aggregate" class="form-check-input" asp-for="TrackForm.IsAggregated" type="checkbox" checked="@Model.TrackForm.IsAggregated"
                                       disabled="@(current?.SupportsAggregatedIntervals() == false)" />
                                <label class="form-label d-block user-select-none text-truncate" for="input-period-aggregate">Aggregated Intervals</label>
                            </div>
                            <div id="input-aggregate-warning" class="form-text user-select-none" hidden="@(current?.SupportsAggregatedIntervals())">
                                Aggregation can only be disabled for fixed tracking in months and years.
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <select id="select-period-format" class="form-select text-truncate" asp-for="TrackForm.CoordinateFormat" asp-items="@Model.CoordinateFormats"></select>
                        <label class="form-label user-select-none" for="select-period-format">Results Format</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="form-period-submit" class="btn btn-primary" type="submit">Track</button>
                </div>
            </form>
        </div>
    </div>
</div>

<vc:geolocation-form route="routes.ToDictionary() as Dictionary<string, string>" action-method="SubmitPeriodGeolocation"></vc:geolocation-form>

<div class="container-md pt-3">
    <div class="d-inline-block">
        <a class="btn btn-link d-flex flex-nowrap align-middle gap-2 w-auto" asp-controller="Search" asp-action="Index">
            <i class="bi bi-arrow-left"></i>
            <span class="text-truncate">Back to search</span>
        </a>
    </div>
</div>

<partial name="_DsoNameHeadingPartial" model="@Model.Dso" />

<div class="sticky-top-container container-sm px-1 py-2 p-sm-3 my-0 my-sm-3 my-md-5">
    <div class="d-flex flex-column flex-md-row gap-0 gap-sm-2 gap-md-3">
        <div class="flex-grow-1 order-1 order-md-0">
            <div id="periodOptionsCollapse" class="collapse d-md-flex">
                <nav class="nav nav-pills d-flex flex-column flex-md-row gap-1 gap-md-2">
                    <a class="nav-item nav-link d-flex justify-content-between justify-content-md-center border"
                        asp-controller="Track" asp-action="Summary" asp-all-route-data="@routes.GetSummaryRoute().ToDictionary()">
                        <span>Summary</span>
                        <i class="bi bi-chevron-right d-md-none"></i>
                    </a>
                    <a class="nav-item nav-link d-flex justify-content-between justify-content-md-center border"
                        asp-controller="Track" asp-action="Phase" asp-all-route-data="@routes.GetSummaryRoute().ToDictionary()">
                        <span>Phase</span>
                        <i class="bi bi-chevron-right d-md-none"></i>
                    </a>
                    <a class="nav-item nav-link d-none d-md-flex active">Period</a>
                </nav>
            </div>
        </div>

        <div class="d-flex flex-nowrap justify-content-between">
            <div class="d-flex d-md-none">
                <a class="btn btn-white d-flex flex-nowrap rounded-0 px-1" data-bs-toggle="collapse" data-toggle-class href="#periodOptionsCollapse" role="button"
                    aria-expanded="false" aria-controls="#periodOptionsCollapse">
                    <i class="bi bi-three-dots-vertical me-1 me-sm-2"></i>
                    <span class="text-truncate">Period</span>
                </a>
            </div>
            <div class="d-flex gap-0 gap-sm-2">
                <vc:options-form-toggle form-id="#periodOptionsModal"></vc:options-form-toggle>
                <vc:geolocation-form-toggle form-id="#geolocation-modal"></vc:geolocation-form-toggle>
            </div>
        </div>
    </div>
</div>

<div class="container pt-3">

    @if (Model.HasMessage())
    {
        <partial name="_AlertMessagePartial" model="@Model.Alert"></partial>
    }

    <div class="mb-5">
        @if (Model.HasResults())
        {
            <div id="periodInfoAccordion" class="accordion mb-3">
                <div class="accordion-item">
                    <h2 id="periodInfoAccordionHeading" class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#periodInfoAccordionCollapse"
                                aria-expanded="true" aria-controls="periodInfoAccordionCollapse">
                            Track Information
                        </button>
                    </h2>
                    <div id="periodInfoAccordionCollapse" class="accordion-collapse collapse show"
                            aria-labelledby="periodInfoAccordionHeading" data-bs-parent="#periodInfoAccordion">
                         <div class="accordion-body">
                            <div class="row mb-3">
                                <label class="col-sm-4 col-form-label">Timekeeper</label>
                                <div class="col-sm-8">@Model.ResultsModel.TimeKeeper</div>
                                <label class="col-sm-4 col-form-label">Time scale</label>
                                <div class="col-sm-8">@Model.ResultsModel.TimeScale</div>
                                <label class="col-sm-4 col-form-label">Start</label>
                                <div class="col-sm-8">@Model.ResultsModel.Start</div>
                                <label class="col-sm-4 col-form-label">Time unit</label>
                                <div class="col-sm-8">@Model.ResultsModel.TimeUnit</div>
                                <label class="col-sm-4 col-form-label">Period</label>
                                <div class="col-sm-8">@Model.ResultsModel.Period</div>
                                <label class="col-sm-4 col-form-label">Interval</label>
                                <div class="col-sm-8">@Model.ResultsModel.Interval</div>
                                <div class="mb-3"></div>
                                <div>@Model.ResultsModel.Fixed</div>
                                <div>@Model.ResultsModel.Aggregated</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped caption-top align-middle d-none d-sm-table">
                    <caption>Track results</caption>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="text-nowrap">Date/Time</th>
                            <th scope="col" class="text-nowrap">Altitude</th>
                            <th scope="col" class="text-nowrap">Azimuth</th>
                            <th scope="col" class="text-nowrap">Visibility</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int resultNumber = 1;
                            foreach (var result in Model.ResultsModel.Results)
                            {
                                if (result is not null)
                                {
                                    <tr>
                                        <th scope="row">@resultNumber</th>
                                        <td class="text-nowrap">@result.GetLocalDateTimeText()</td>
                                        <td class="text-nowrap">@result.GetAltitudeText()</td>
                                        <td class="text-nowrap">@result.GetAzimuthText()</td>
                                        <td class="text-nowrap">
                                            <i class="bi @result.Vector.Visibility()"></i>
                                        </td>
                                    </tr>
                                }
                                resultNumber++;
                            }
                        }
                    </tbody>
                </table>

                <table class="table table-striped caption-top align-middle d-table d-sm-none">
                    <caption>Track results</caption>
                    <tbody>
                        @{
                            foreach (var result in Model.ResultsModel.Results)
                            {
                                if (result is not null)
                                {
                                    <tr>
                                        <td class="py-3">
                                            <div class="d-flex justify-content-between mx-3">
                                                <div>
                                                    <h6 class="mb-2">@result.GetLocalDateTimeText()</h6>
                                                    <p class="mb-0">@result.GetCoordinateText()</p>
                                                </div>
                                                <i class="bi @result.Vector.Visibility()"></i>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="text-center bg-light" style="padding-top:120px;padding-bottom:120px;">
                <p>Click the button below to begin tracking.</p>
                <a class="btn btn-primary rounded-0" role="button" data-bs-toggle="modal" href="#periodOptionsModal">
                    <span class="text-truncate">Start here</span>
                </a>
            </div>
        }
    </div>

</div>
