@model TrackPeriodViewModel

@{
    ViewBag.Title = "Phase";
    Layout = "_BannerLayout";

    TrackPeriodRoute current = Model.CurrentRoute;
    TrackPeriodRoute routes = current.Clone();
}

<div class="container pt-3">

    <div class="mb-3">
        <vc:geolocation-form route="routes.ToDictionary() as Dictionary<string, string>" action-method="SubmitPeriodGeolocation"></vc:geolocation-form>
    </div>

    @* Consider view component or partial view *@
    <div class="mb-5">
        @if (Model.Dso.HasName)
        {
            <h1>@Model.Dso.CompoundId - @Model.Dso.Name</h1>
        }
        else
        {
            <h1>@Model.Dso.CompoundId</h1>
        }

        @if (Model.Dso.HasMultipleNames)
        {
            <p>
                <i>Other names:&nbsp;&nbsp;@string.Join(", ", Model.Dso.GetOtherNames())</i>
            </p>
        }
    </div>

    <nav class="nav nav-tabs mb-5">
        <a class="nav-item nav-link" asp-controller="Track" asp-action="Summary" asp-all-route-data="@routes.GetSummaryRoute().ToDictionary()">Summary</a>
        <a class="nav-item nav-link" asp-controller="Track" asp-action="Phase" asp-all-route-data="@routes.GetSummaryRoute().ToDictionary()">Phase</a>
        <a class="nav-item nav-link active">Period</a>
    </nav>

    @if (Model.HasWarning())
    {
        <div class="mb-3">
            <label class="form-label text-warning">@Model.WarningMessage</label>
        </div>
    }

    <div class="mb-3">
        <form id="form-period" class="mb-5" asp-action="SubmitPeriod" asp-all-route-data="@routes.ToDictionary()" method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="TrackForm.Algorithm">Timekeeping Algorithm</label>
                <select id="select-period-algorithm" class="form-control" asp-for="TrackForm.Algorithm" asp-items="@(new SelectList(Model.Algorithms, "Id", "Text", Model.TrackForm.Algorithm))"></select>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="TrackForm.Start">Start</label>
                <input id="input-period-start" class="form-control" asp-for="TrackForm.Start" type="datetime-local" value="@Model.TrackForm.GetFormattedStart()" />
                <span asp-validation-for="TrackForm.Start" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="TrackForm.TimeUnit">Time Unit</label>
                <select id="select-period-timeunit" class="form-control" asp-for="TrackForm.TimeUnit" asp-items="@(new SelectList(Model.TimeUnits, "Id", "Text", Model.TrackForm.TimeUnit))"></select>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="TrackForm.Period">Period</label>
                <input id="input-period" class="form-control" asp-for="TrackForm.Period" type="number" value="@Model.TrackForm.Period" />
                <span asp-validation-for="TrackForm.Period" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="TrackForm.Interval">Intervals</label>
                <input id="input-interval" class="form-control" asp-for="TrackForm.Interval" type="number" value="@Model.TrackForm.Interval" />
                <span asp-validation-for="TrackForm.Interval" class="text-danger"></span>
            </div>
            <div class="form-check form-switch mb-3">
                <input id="input-period-fixed" class="form-check-input" asp-for="TrackForm.IsFixed" type="checkbox" value="@Model.TrackForm.IsFixed" />
                <label class="form-label" asp-for="TrackForm.IsFixed">Fixed Tracking</label>
            </div>
            <div class="mb-3">
                <button id="form-period-submit" class="btn btn-primary" type="submit">Track</button>
            </div>
        </form>
    </div>

</div>
