@model TrackPhaseViewModel

@{
    ViewBag.Title = "Phase";
    Layout = "_BannerLayout";

    TrackPhaseRoute current = Model.CurrentRoute;
    TrackPhaseRoute routes = current.Clone();
}

@section scripts {
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/location.js"></script>
    <script src="~/js/misc.js"></script>
    <script src="~/js/phase-toggle.js"></script>
}

<div id="phaseOptionsModal" class="modal fade" tabindex="-1" aria-labelledby="phaseOptionsModalTitle">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="phaseOptionsModalTitle" class="modal-title user-select-none text-truncate">Phase Tracking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @if (Model.IsTrackingSupported())
            {
                <form id="form-phase" asp-action="SubmitPhase" asp-all-route-data="@routes.ToDictionary()" method="post" defaultbutton="form-phase-submit">
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <select id="select-phase-algorithm" class="form-select text-truncate" asp-for="TrackForm.Algorithm" asp-items="@Model.Algorithms"></select>
                            <label class="form-label user-select-none" for="select-phase-algorithm">Timekeeping Algorithm</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="input-phase-start" class="form-control" asp-for="TrackForm.Start" type="datetime-local" value="@Model.TrackForm.GetFormattedStart()" />
                            <label class="form-label user-select-none" for="input-phase-start">Start</label>
                            <span asp-validation-for="TrackForm.Start" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <select id="select-phase" class="form-select text-truncate" asp-for="TrackForm.Phase" asp-items="@Model.Phases"></select>
                            <label class="form-label user-select-none" for="select-phase">Phase</label>
                        </div>
                        <div class="mb-3">
                            <div class="form-check form-switch">
                                <input id="input-phase-single" class="form-check-input" data-bs-toggle="collapse" href="#phase-collapse" role="button"
                                       asp-for="TrackForm.IsTrackOnce" type="checkbox" checked="@Model.TrackForm.IsTrackOnce" onchange="phaseTrackOnce()" />
                                <label class="form-label d-block user-select-none text-truncate" for="input-phase-single">Track Once</label>
                            </div>
                        </div>
                        <div id="phase-collapse" class="collapse @current.TrackOnce.Show() mb-3">
                            <div class="form-floating">
                                <input id="input-phase-cycles" class="form-control text-truncate" asp-for="TrackForm.Cycles" type="number" value="@Model.TrackForm.Cycles"
                                       disabled="@Model.TrackForm.IsTrackOnce" />
                                <label class="form-label user-select-none" for="input-phase-cycles">Cycles</label>
                                <span asp-validation-for="TrackForm.Cycles" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="form-phase-submit" class="btn btn-primary" type="submit">Track</button>
                    </div>
                </form>
            }
            else if (Model.HasMessage())
            {
                <div class="modal-body">
                    <partial name="_AlertMessagePartial" model="@Model.Alert"></partial>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<vc:geolocation-form route="routes.ToDictionary() as Dictionary<string, string>" action-method="SubmitPhaseGeolocation"></vc:geolocation-form>

<div class="container-md pt-3">
    <div class="d-inline-block">
        <a class="btn btn-link d-flex flex-nowrap align-middle gap-2 w-auto" asp-controller="Search" asp-action="Index">
            <i class="bi bi-arrow-left"></i>
            <span class="text-truncate">Back to search</span>
        </a>
    </div>
</div>

<partial name="_DsoNameHeadingPartial" model="@Model.Dso" />

<div class="sticky-top-container container-sm px-1 py-2 p-sm-3 my-0 my-sm-3 my-md-5">
    <div class="d-flex flex-column flex-md-row gap-0 gap-sm-2 gap-md-3">
        <div class="flex-grow-1 order-1 order-md-0">
            <div id="phaseOptionsCollapse" class="collapse d-md-flex">
                <nav class="nav nav-pills d-flex flex-column flex-md-row gap-1 gap-md-2">
                    <a class="nav-item nav-link d-flex justify-content-between justify-content-md-center border"
                       asp-controller="Track" asp-action="Summary" asp-all-route-data="@routes.GetSummaryRoute().ToDictionary()">
                        <span>Summary</span>
                        <i class="bi bi-chevron-right d-md-none"></i>
                    </a>
                    <a class="nav-item nav-link d-none d-md-flex active">Phase</a>
                    <a class="nav-item nav-link d-flex justify-content-between justify-content-md-center border"
                       asp-controller="Track" asp-action="Period" asp-all-route-data="@routes.GetSummaryRoute().ToDictionary()">
                        <span>Period</span>
                        <i class="bi bi-chevron-right d-md-none"></i>
                    </a>
                </nav>
            </div>
        </div>
        <div class="d-flex flex-nowrap justify-content-between">
            <div class="d-flex d-md-none">
                <a class="btn btn-white d-flex flex-nowrap rounded-0 px-1" data-bs-toggle="collapse" href="#phaseOptionsCollapse" role="button"
                   aria-expanded="false" aria-controls="#phaseOptionsCollapse">
                    <i class="bi bi-three-dots-vertical me-1 me-sm-2"></i>
                    <span class="text-truncate">Phase</span>
                </a>
            </div>
            <div class="d-flex gap-0 gap-sm-2">
                <vc:options-form-toggle form-id="#phaseOptionsModal" enabled="@Model.IsTrackingSupported()"></vc:options-form-toggle>
                <vc:geolocation-form-toggle form-id="#geolocation-modal"></vc:geolocation-form-toggle>
            </div>
        </div>
    </div>
</div>

<div class="container pt-3">

    @if (Model.HasMessage())
    {
        <div class="mb-3">
            <partial name="_AlertMessagePartial" model="@Model.Alert"></partial>
        </div>
    }

    <div class="mb-5">
        @if (Model.HasResults())
        {
            <div class="mb-3">
                <i>@Model.Results.TimeScaleName</i>
            </div>

            <div class="table-responsive">
                <table class="table table-striped caption-top align-middle d-none d-sm-table">
                    <caption>Track results</caption>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="text-nowrap">Date/Time</th>
                            <th scope="col" class="text-nowrap">Altitude</th>
                            <th scope="col" class="text-nowrap">Azimuth</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int resultNumber = 1;
                            foreach (var result in Model.Results)
                            {
                                if (result is not null)
                                {
                                    <tr>
                                        <th scope="row">@resultNumber</th>
                                        <td class="text-nowrap">@result.GetLocalDateTimeText()</td>
                                        <td class="text-nowrap">@result.GetAltitudeText()</td>
                                        <td class="text-nowrap">@result.GetAzimuthText()</td>
                                    </tr>
                                }
                                resultNumber++;
                            }
                        }
                    </tbody>
                </table>

                <table class="table table-striped caption-top align-middle d-table d-sm-none">
                    <caption>Track results</caption>
                    <tbody>
                        @{
                            foreach (var result in Model.Results)
                            {
                                if (result is not null)
                                {
                                    <tr>
                                        <td class="py-3">
                                            <div class="mx-3">
                                                <h6 class="mb-2">@result.GetLocalDateTimeText()</h6>
                                                <p class="mb-0">@result.GetCoordinateText()</p>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="d-flex flex-column align-items-center bg-light" style="padding-top:120px;padding-bottom:120px;">
                @if (Model.IsTrackingSupported())
                {
                    <p>Click the button below to begin tracking.</p>
                    <a class="btn btn-primary rounded-0" role="button" data-bs-toggle="modal" href="#phaseOptionsModal">
                        <span class="text-truncate">Start here</span>
                    </a>
                }
                else
                {
                    <p>Phase tracking is not supported for this object at your location.</p>
                }
            </div>
        }
    </div>

</div>