@model TrackPhaseViewModel

@{
    ViewBag.Title = "Phase";
    Layout = "_BannerLayout";

    TrackPhaseRoute current = Model.CurrentRoute;
    TrackPhaseRoute routes = current.Clone();
}

@section scripts {
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/location.js"></script>
    <script src="~/js/misc.js"></script>
    <script src="~/js/phase-toggle.js"></script>
}

<div class="container pt-3">

    <div class="mb-3">
        <vc:geolocation-form route="routes.ToDictionary() as Dictionary<string, string>" action-method="SubmitPhaseGeolocation"></vc:geolocation-form>
    </div>

    <partial name="_DsoNameHeadingPartial" model="@Model.Dso" />

    <nav class="nav nav-tabs mb-5">
        <a class="nav-item nav-link" asp-controller="Track" asp-action="Summary" asp-all-route-data="@routes.GetSummaryRoute().ToDictionary()">Summary</a>
        <a class="nav-item nav-link active">Phase</a>
        <a class="nav-item nav-link" asp-controller="Track" asp-action="Period" asp-all-route-data="@routes.GetSummaryRoute().ToDictionary()">Period</a>
    </nav>

    @if (Model.HasWarning())
    {
        <div class="mb-3">
            <label class="form-label text-warning">@Model.WarningMessage</label>
        </div>
    }

    @if (Model.IsTrackingSupported())
    {
        <div class="mb-3">
            <form id="form-phase" class="mb-5" asp-action="SubmitPhase" asp-all-route-data="@routes.ToDictionary()" method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="TrackForm.Algorithm">Timekeeping Algorithm</label>
                    <select id="select-phase-algorithm" class="form-control" asp-for="TrackForm.Algorithm" asp-items="@(new SelectList(Model.Algorithms, "Id", "Text", Model.TrackForm.Algorithm))"></select>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="TrackForm.Phase">Phase</label>
                    <select id="select-phase" class="form-control" asp-for="TrackForm.Phase" asp-items="@Model.Phases"></select>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="TrackForm.Start">Start</label>
                    <input id="input-phase-start" class="form-control" asp-for="TrackForm.Start" type="datetime-local" value="@Model.TrackForm.GetFormattedStart()" />
                    <span asp-validation-for="TrackForm.Start" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input id="input-phase-single" class="form-check-input" data-bs-toggle="collapse" href="#phase-collapse" role="button"
                               asp-for="TrackForm.IsTrackOnce" type="checkbox" checked="@Model.TrackForm.IsTrackOnce" onchange="phaseTrackOnce()" />
                        <label class="form-label" asp-for="TrackForm.IsTrackOnce">Track Once</label>
                    </div>
                </div>
                <div id="phase-collapse" class="collapse @current.TrackOnce.Show() mb-3">
                    <label class="form-label" asp-for="TrackForm.Cycles">Cycles</label>
                    <input id="input-phase-cycles" class="form-control" asp-for="TrackForm.Cycles" type="number" value="@Model.TrackForm.Cycles"
                           disabled="@Model.TrackForm.IsTrackOnce" />
                    <span asp-validation-for="TrackForm.Cycles" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button id="form-phase-submit" class="btn btn-primary" type="submit">Track</button>
                </div>
            </form>
        </div>
    }

    <div class="mb-5">
        @if (Model.HasResults())
        {
            <div class="table-responsive">
                <table class="table table-striped caption-top align-middle d-none d-sm-table">
                    <caption>Track results</caption>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="text-nowrap">Date/Time</th>
                            <th scope="col" class="text-nowrap">Altitude</th>
                            <th scope="col" class="text-nowrap">Azimuth</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int resultNumber = 1;
                            foreach (var result in Model.Results)
                            {
                                if (result is not null)
                                {
                                    <tr>
                                        <th scope="row">@resultNumber</th>
                                        <td class="text-nowrap">@result.GetLocalDateTimeText()</td>
                                        <td class="text-nowrap">@result.GetAltitudeText()</td>
                                        <td class="text-nowrap">@result.GetAzimuthText()</td>
                                    </tr>
                                }
                                resultNumber++;
                            }
                        }
                    </tbody>
                </table>

                <table class="table table-striped caption-top align-middle d-table d-sm-none">
                    <caption>Track results</caption>
                    <tbody>
                        @{
                            foreach (var result in Model.Results)
                            {
                                if (result is not null)
                                {
                                    <tr>
                                        <td class="py-3">
                                            <div class="mx-3">
                                                <small class="fst-italic">Time</small>
                                                <h6 class="mb-2">@result.GetLocalDateTimeText()</h6>
                                                <small class="fst-italic">Position</small>
                                                <p class="mb-0">@result.GetCoordinateText()</p>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div>
                <hr/>
            </div>
        }
    </div>

</div>