@model SearchListViewModel

@{
    ViewBag.Title = "Search";
    Layout = "_BannerLayout";

    RouteDictionary current = Model.CurrentRoute;
    RouteDictionary routes = Model.CurrentRoute.Clone();
}

@* Pulled from _Layout.cshtml *@
<script src="~/js/location.js"></script>
<script src="~/js/toggle.js"></script>

<style>
    .list-group {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>

<div id="search-container" class="container mb-3">

    @{
        routes = Model.CurrentRoute.Clone();
    }
    <form id="form-geolocation" class="mb-3" asp-action="CreateGeolocation" asp-all-route-data="@routes" method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="Geolocation.TimeZoneId">Time Zone</label>
            <input id="input-timezone" class="form-control" type="hidden" asp-for="Geolocation.UserTimeZoneId" value="@Model.Geolocation.TimeZoneId" />
            <select id="select-timezone" class="form-control" asp-for="Geolocation.TimeZoneId" asp-items="@(new SelectList(Model.TimeZoneItems, "Id", "Name", Model.Geolocation.TimeZoneId))"></select>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Geolocation.Latitude">Latitude</label>
            <input id="input-latitude" class="form-control" asp-for="Geolocation.Latitude" type="number" value="@Model.Geolocation.Latitude" />
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Geolocation.Longitude">Longitude</label>
            <input id="input-longitude" class="form-control" asp-for="Geolocation.Longitude" type="number" value="@Model.Geolocation.Longitude" />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <div id="location-help" class="form-text">Your location will not be shared.</div>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-outline-secondary" type="button" onclick="getLocation()">Use my location</button>
            <button class="btn btn-secondary" type="submit" name="reset" value="true">Reset</button>
        </div>
    </form>

    <div class="list-group mb-3">
        @foreach (var sortField in Sort.Fields)
        {
            routes.SetSort(sortField.Value);
            
            @if (sortField.Value == current.SortField)
            {
                <a class="list-group-item active" asp-action="List" asp-all-route-data="@routes">@sortField.Key</a>
            }
            else
            {
                <a class="list-group-item" asp-action="List" asp-all-route-data="@routes">@sortField.Key</a>
            }
        }
    </div>
    
    <div class="list-group mb-3">
        @{
            routes = Model.CurrentRoute.Clone();

            foreach (var type in Model.Types)
            {
                routes.TypeFilter = new ListFilter(nameof(SearchDTO.Type), type.Type);

                if (current.TypeFilter.EqualsSeo(type.Type))
                {
                    <a class="list-group-item active" asp-action="List" asp-all-route-data="@routes">@type.Type</a>
                }
                else
                {
                    <a class="list-group-item" asp-action="List" asp-all-route-data="@routes">@type.Type</a>
                }
            }
        }
    </div>

    <div class="list-group mb-3">
        @{
            routes = Model.CurrentRoute.Clone();

            foreach (var catalog in Model.Catalogs)
            {
                routes.CatalogFilter = new ListFilter(nameof(SearchDTO.Catalog), catalog.Name);

                if (current.CatalogFilter.EqualsSeo(catalog.Name))
                {
                    <a class="list-group-item active" asp-action="List" asp-all-route-data="@routes">@catalog.Name</a>
                }
                else
                {
                    <a class="list-group-item" asp-action="List" asp-all-route-data="@routes">@catalog.Name</a>
                }
            }
        }
    </div>

    <div class="list-group mb-3">
        @{
            routes = Model.CurrentRoute.Clone();

            foreach (var constellation in Model.Constellations)
            {
                routes.ConstellationFilter = new ListFilter(nameof(SearchDTO.Constellation), constellation.Name);

                if (current.ConstellationFilter.EqualsSeo(constellation.Name))
                {
                    <a class="list-group-item active" asp-action="List" asp-all-route-data="@routes">@constellation.Name</a>
                }
                else
                {
                    <a class="list-group-item" asp-action="List" asp-all-route-data="@routes">@constellation.Name</a>
                }
            }
        }
    </div>

    @*<form asp-action="Filter" method="post">
        <div>
            <div>
                <input name="filterIds" value="@nameof(SearchGridDTO.Type)" type="hidden" />
                <select name="filters" class="control-wrapper form-control control-shadow"
                        asp-items="@(new SelectList(Model.Types, "Type", "Type", current.TypeFilter.Value))">
                    <option value="@ListFilter.All" class="text-nowrap">All</option>
                </select>
            </div>
            <div>
                <input name="filterIds" value="@nameof(SearchGridDTO.Catalog)" type="hidden" />
                <select name="filters" class="control-wrapper form-control control-shadow"
                        asp-items="@(new SelectList(Model.Catalogs, "Name", "Name", current.CatalogFilter.Value))">
                    <option value="@ListFilter.All" class="text-nowrap">All</option>
                </select>
            </div>
            <div>
                <input name="filterIds" value="@nameof(SearchGridDTO.Constellation)" type="hidden" />
                <select name="filters" class="control-wrapper form-control control-shadow"
                        asp-items="@(new SelectList(Model.Constellations, "Name", "Name", current.ConstellationFilter.Value))">
                    <option value="@ListFilter.All" class="text-nowrap">All</option>
                </select>
            </div>
            <div>
                <input name="filterIds" value="@nameof(SearchGridDTO.Season)" type="hidden" />
                <select name="filters" class="control-wrapper form-control control-shadow"
                        asp-items="@(new SelectList(Model.Seasons, "Id", "North", current.SeasonFilter.Value))">
                    <option value="@ListFilter.All" class="text-nowrap">All</option>
                </select>
            </div>
            <div>
                <input name="filterIds" value="@nameof(SearchGridDTO.Trajectory)" type="hidden" />
                <select name="filters" class="control-wrapper form-control control-shadow"
                        asp-items="@(new SelectList(Model.Trajectories, "Key", "Value", current.TrajectoryFilter.Value))">
                    <option value="@ListFilter.All" class="text-nowrap">All</option>
                </select>
            </div>
            <div>
                <input name="options" class="control-toggle" value="@nameof(SearchGridDTO.Local)" type="checkbox" />
            </div>
            <div>
                <input name="options" class="control-toggle" value="@nameof(SearchGridDTO.HasName)" type="checkbox" />
            </div>
            <div>
                <input name="options" class="control-toggle" value="@nameof(SearchGridDTO.Visibility)" type="checkbox" />
            </div>
            <div>
                <input name="options" class="control-toggle" value="@nameof(SearchGridDTO.RiseTime)" type="checkbox" />
            </div>
            <div class="row">
                <div class="col-4">
                    <label>Latitude</label>
                </div>
                <div class="col-8">
                    <input class="w-100" />
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label>Longitude</label>
                </div>
                <div class="col-8">
                    <input class="w-100" />
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label>Use my location</label>
                </div>
                <div class="col-8">
                    <label>Toggle</label>
                </div>
            </div>
        </div>
        <div>
            <button type="submit">Apply</button>
            <button type="submit" name="clear" value="true">Clear</button>
        </div>
    </form>*@

    <hr />

    @* Add else block, and also check if Model.DsoItems is empty. If null or empty, display message such as "No objects found that match your filters", etc. *@
    <div id="start">
        @if (Model.DsoItems is not null)
        {
            @foreach (DsoModel dso in Model.DsoItems)
            {
                @if (dso is not null)
                {
                    //asp-route-slug="@dso.Name.Slug()"
                    <a asp-controller="Search" asp-action="Details" asp-route-cat="@dso.CatalogName" asp-route-id="@dso.Id">
                        <div>
                            @if (string.IsNullOrWhiteSpace(dso.Name))
                            {
                                <h3>@dso.CompoundId</h3>
                            }
                            else
                            {
                                <h3>@dso.CompoundId - @dso.Name</h3>
                            }
                            <p>
                                @dso.CatalogName
                                <br />
                                @dso.Description
                                <br />
                                @dso.Type
                                <br />
                                @dso.ConstellationName
                            </p>
                            @*@if (dso.HasMultipleNames)
                {
                <p>
                <strong>Other names: </strong>
                <br />
                <ul>
                @foreach (string name in dso.GetOtherNames())
                {
                <li>@name</li>
                }
                </ul>
                </p>
                }*@
                        </div>
                    </a>
                }
            }
        }
    </div>

    <hr />

    <div>
        @{
            routes = Model.CurrentRoute.Clone();

            if (current.PageNumber > 1)
            {
                routes.PageNumber = current.PageNumber - 1;
                // class="btn text-white"
                <a asp-action="List" asp-all-route-data="@routes" asp-fragment="start">Previous</a>
            }

            if (current.PageNumber < Model.TotalPages)
            {
                routes.PageNumber = current.PageNumber + 1;
                // class="btn text-white"
                <a asp-action="List" asp-all-route-data="@routes" asp-fragment="start">Next</a>
            }
        }
    </div>
</div>

    @*<div id="filters-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title d-inline-flex">
                        <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" focusable="false">
                            <path class="path-dark" d="M15 17H21V18H15V17ZM11 17H3V18H11V20H12V18V17V15H11V17ZM14 8H15V6V5V3H14V5H3V6H14V8ZM18 5V6H21V5H18ZM6 14H7V12V11V9H6V11H3V12H6V14ZM10 12H21V11H10V12Z" />
                        </svg>
                        <h3>&nbsp;Filters</h3>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <form asp-action="Filter" method="post">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-4">
                                    <label>Sort by</label>
                                </div>
                                <div class="col-8">
                                    <div class="dropdown" role="button">
                                        <div class="control-wrapper form-control control-shadow" data-toggle="dropdown">
                                            <div class="control text-nowrap">Sort by</div>
                                            <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" focusable="false">
                                                <path class="path-dark" d="M12 15.7L5.60001 9.4L6.30001 8.7L11.9 14.3L17.5 8.7L18.2 9.4L12 15.7Z" />
                                            </svg>
                                        </div>
                                        <div class="dropdown-menu" role="menu">
                                            @{ routes.SetSort(Sort.Id); }
                                            <a class="dropdown-item" asp-action="List" asp-all-route-data="@routes">Id</a>

                                            @{ routes.SetSort(Sort.Name); }
                                            <a class="dropdown-item" asp-action="List" asp-all-route-data="@routes">Name</a>

                                            @{ routes.SetSort(Sort.Type); }
                                            <a class="dropdown-item" asp-action="List" asp-all-route-data="@routes">Type</a>

                                            @{ routes.SetSort(Sort.Constellation); }
                                            <a class="dropdown-item" asp-action="List" asp-all-route-data="@routes">Constellation</a>

                                            @{ routes.SetSort(Sort.Distance); }
                                            <a class="dropdown-item" asp-action="List" asp-all-route-data="@routes">Distance</a>

                                            @{ routes.SetSort(Sort.Brightness); }
                                            <a class="dropdown-item" asp-action="List" asp-all-route-data="@routes">Brightness</a>

                                            @{ routes.SetSort(Sort.Visibility); }
                                            <a class="dropdown-item" asp-action="List" asp-all-route-data="@routes">Visibility</a>

                                            @{ routes.SetSort(Sort.RiseTime); }
                                            <a class="dropdown-item" asp-action="List" asp-all-route-data="@routes">Rise Time</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />

****************************These are radio groups that support a single choice (just like the sort options above ^):
                            <div class="row">
                                <div class="col-4">
                                    <label>Type</label>
                                </div>
                                <div class="col-8">
                                    <input name="filterIds" value="@nameof(SearchGridDTO.Type)" type="hidden" />
                                    <select name="filters" class="control-wrapper form-control control-shadow"
                                            asp-items="@(new SelectList(Model.Types, "Type", "Type", current.TypeFilter.Value))">
                                        <option value="@ListFilter.All" class="text-nowrap">All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label>Catalog</label>
                                </div>
                                <div class="col-8">
                                    <input name="filterIds" value="@nameof(SearchGridDTO.Catalog)" type="hidden" />
                                    <select name="filters" class="control-wrapper form-control control-shadow"
                                            asp-items="@(new SelectList(Model.Catalogs, "Name", "Name", current.CatalogFilter.Value))">
                                        <option value="@ListFilter.All" class="text-nowrap">All</option>
                                    </select>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-4">
                                    <label>Constellation</label>
                                </div>
                                <div class="col-8">
                                    <input name="filterIds" value="@nameof(SearchGridDTO.Constellation)" type="hidden" />
                                    <select name="filters" class="control-wrapper form-control control-shadow"
                                            asp-items="@(new SelectList(Model.Constellations, "Name", "Name", current.ConstellationFilter.Value))">
                                        <option value="@ListFilter.All" class="text-nowrap">All</option>
                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-4">
                                    <label>Season</label>
                                </div>
                                <div class="col-8">
                                    <input name="filterIds" value="@nameof(SearchGridDTO.Season)" type="hidden" />
                                    <select name="filters" class="control-wrapper form-control control-shadow"
                                            asp-items="@(new SelectList(Model.Seasons, "Id", "North", current.SeasonFilter.Value))">
                                        <option value="@ListFilter.All" class="text-nowrap">All</option>
                                    </select>
                                </div>
                            </div>

****************************These are toggle options. Use the bootstrap toggle/switch design:
                            <div class="row">
                                <div class="col-4">
                                    <label>Local</label>
                                </div>
                                <div class="col-8">
                                    <input name="options" class="control-toggle" value="@nameof(SearchGridDTO.Local)" type="checkbox" />
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-4">
                                    <label>Has Name</label>
                                </div>
                                <div class="col-8">
                                    <input name="options" class="control-toggle" value="@nameof(SearchGridDTO.HasName)" type="checkbox" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label>In my sky</label>
                                </div>
                                <div class="col-8">
                                    <input name="options" class="control-toggle" value="@nameof(SearchGridDTO.Visibility)" type="checkbox" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label>About to rise</label>
                                </div>
                                <div class="col-8">
                                    <input name="options" class="control-toggle" value="@nameof(SearchGridDTO.RiseTime)" type="checkbox" />
                                </div>
                            </div>

                            Move this up before the toggle options ^
                            <div class="row">
                                <div class="col-4">
                                    <label>Trajectory</label>
                                </div>
                                <div class="col-8">
                                    <input name="filterIds" value="@nameof(SearchGridDTO.Trajectory)" type="hidden" />
                                    <select name="filters" class="control-wrapper form-control control-shadow"
                                            asp-items="@(new SelectList(Model.Trajectories, "Key", "Value", current.TrajectoryFilter.Value))">
                                        <option value="@ListFilter.All" class="text-nowrap">All</option>
                                    </select>
                                </div>
                            </div>
                            <hr />
                            
****************************Geolocation:
                            <div class="row">
                                <div class="col-4">
                                    <label>Latitude</label>
                                </div>
                                <div class="col-8">
                                    <input class="w-100" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label>Longitude</label>
                                </div>
                                <div class="col-8">
                                    <input class="w-100" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label>Use my location</label>
                                </div>
                                <div class="col-8">
                                    <label>Toggle</label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <div>
                            <button type="submit" name="clear" value="true" class="btn btn-secondary">Clear</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>*@

    @*<div id="controls-layout" class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">*@
                    @* This should be inside a form that updates the results upon submitting the search *@
                    @*<div class="control-wrapper form-control control-shadow">
                        <input class="control" placeholder="Search" maxlength="50" />
                        <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" focusable="false">
                            <path class="path-dark" d="M12.7 12L19.3 18.6L18.6 19.3L12 12.7L5.40001 19.3L4.70001 18.6L11.3 12L4.60001 5.4L5.30001 4.7L11.9 11.3L18.5 4.7L19.2 5.4L12.7 12Z" />
                        </svg>
                        <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path class="path-dark" d="M20.87 20.17L15.28 14.58C16.35 13.35 17 11.75 17 10C17 6.13 13.87 3 10 3C6.13 3 3 6.13 3 10C3 13.87 6.13 17 10 17C11.75 17 13.35 16.35 14.58 15.29L20.17 20.88L20.87 20.17ZM10 16C6.69 16 4 13.31 4 10C4 6.69 6.69 4 10 4C13.31 4 16 6.69 16 10C16 13.31 13.31 16 10 16Z" />
                        </svg>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="control-wrapper form-control control-shadow" role="button" data-toggle="modal" data-target="#filters-modal">
                        <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" focusable="false">
                            <path class="path-dark" d="M15 17H21V18H15V17ZM11 17H3V18H11V20H12V18V17V15H11V17ZM14 8H15V6V5V3H14V5H3V6H14V8ZM18 5V6H21V5H18ZM6 14H7V12V11V9H6V11H3V12H6V14ZM10 12H21V11H10V12Z" />
                        </svg>
                        <div class="control text-nowrap">Filters</div>
                    </div>
                </div>
            </div>

            @{ routes = Model.CurrentRoute.Clone(); }
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-auto text-center">
                    <div class="input-group control-shadow" role="radiogroup">
                        <div class="form-control control-wrapper">
                            @{ routes.SetDirection(OrderDirection.Ascending); }
                            <a class="control text-nowrap" asp-action="List" asp-all-route-data="@routes">
                                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" focusable="false">
                                    <path class="path-dark" d="M13.125 21V7.30875L19.4137 13.5975L21 12L12 3L3 12L4.58625 13.5863L10.875 7.30875V21H13.125Z" />
                                </svg>
                                &nbsp;Ascending&nbsp;
                            </a>
                        </div>
                        <div class="form-control control-wrapper">
                            @{ routes.SetDirection(OrderDirection.Descending); }
                            <a class="control text-nowrap" asp-action="List" asp-all-route-data="@routes">
                                <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" focusable="false">
                                    <path class="path-dark" d="M13.125 3V16.6912L19.4137 10.4025L21 12L12 21L3 12L4.58625 10.4137L10.875 16.6912V3H13.125Z" />
                                </svg>
                                &nbsp;Descending&nbsp;
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@